button {
  cursor: pointer;
}

.shopping-cart-item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 80%;
  margin: 20px auto;
  border: 1px solid var(--brown-primary);
}

.cart-item-controls button {
  display: block;
}
