.app {
  background-color: var(--brown-secondary);
  color: var(--brown-dark);
}

a {
  color: var(--brown-dark);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  opacity: 0.5;
}

@media (min-width: 2000px) {
  .app {
    width: 2000px;
    display: block;
    margin: 0 auto;
  }
}