.site-nav {
  height: 80px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--brown-primary);
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  margin-right: 15px;
}